{% extends 'shop/base.html' %}
{% load static %}

{% block sidecentr %}
<div class="block_card">
	{% for i in goods %}
	
		<div class="card_body">
			
			{% if i.image %}
				<div class="text_discount">
					<img src="{{i.image.url}}" alt="{{i.name}}"width='200px'height='200px'>
					<div class="discout_p"><p>Скидка: {{i.discount}}</p></div>
				</div>

			{% else %}

				<div class="text_discount">
					<img src="{% static '../media/goods_images/Not found image.png' %}" alt="Not found image"width='200px'height='200px'>
					<div class="discout_p"><p>Скидка: {{i.discount}}</p></div>
				</div>
			{% endif %}

			<p><a href="{% url 'goods:products' i.slug %}">{{ i.name }}</a></p>
			<p>{{i.description}}</p>

			{% if i.discount %}
				<p><s>{{i.price}}</s>$</p>
				<p><strong>{{ i.sell_price }}</strong>$</p>
				<span>Скидка: {{ i.discount }} %</span>
			{% else %}
				<p><strong>{{i.price}}</strong></p>
			{% endif %}

			<p>id: {{ i.display_id }}</p>
			<a href=""><img src="../media/goods_images/korzina.png" alt="korzina" width='50px' height='50px'></a>
		</div>
	
	{% endfor %}
</div>
	
<!-- Пагинация -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center my-4">
                            <div class="custom-shadow d-flex">
                                <li class="page-item disabled">
                                  <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                            </div>
                        </ul>
                    </nav>
{% endblock %}
<!--<a href="{% url 'goods:products' %}">PRODUCTS</a>--!