{% extends 'shop/base.html' %}
{% load static %}
{% load goods_tags %}

{% block sidecentr %}
<div class="block_card">
	{% for i in goods %}
	
		<div class="card_body">
			
			{% if i.image %}
				<div class="text_discount">
					<img src="{{i.image.url}}" alt="{{i.name}}"width='200px'height='200px'>
					<div class="discout_p"><p>Скидка: {{i.discount}}</p></div>
				</div>

			{% else %}

				<div class="text_discount">
					<img src="{% static '../media/goods_images/Not found image.png' %}" alt="Not found image"width='200px'height='200px'>
					<div class="discout_p"><p>Скидка: {{i.discount}}</p></div>
				</div>
			{% endif %}

			<p><a href="{% url 'catalog:products' i.slug %}">{{ i.name }}</a></p>
			<p>{{i.description|truncatechars:40}}</p>

			{% if i.discount %}
				<p><s>{{i.price}}</s>$</p>
				<p><strong>{{ i.sell_price }}</strong>$</p>
				<span>Скидка: {{ i.discount }} %</span>
			{% else %}
				<p><strong>{{i.price}}</strong></p>
			{% endif %}

			<p>id: {{ i.display_id }}</p>
			<a href=""><img src="../media/goods_images/korzina.png" alt="korzina" width='50px' height='50px'></a>
		</div>
	
	{% endfor %}
</div>
	
<!-- Пагинация -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center my-4">
                            <div class="custom-shadow d-flex">
                                <li class="page-item {% if not goods.has_previous %} disabled {% endif %}">
                                  <a class="page-link"href="{% if goods.has_previous %}?page={{goods.previous_page_number}}{% else %}
								  #
								  {% endif %}">Назад</a>
                                </li>

								{% for page in goods.paginator.page_range %}
									{% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
										<li class="page-item {% if goods.number == page %}active{% endif %}">
											
											<a class="page-link" href="?page={{page}}">{{ page }}</a>
										</li>
									{% endif %}
								{% endfor %}
                              
								<li class="page-item {% if not goods.has_next %} disabled {% endif %}">
									<a class="page-link"href="{% if goods.has_next %}?page={{goods.next_page_number}}
									{% else %}
									#
									{% endif %}">Следующая</a>
								  </li>
                            </div>
                        </ul>
                    </nav>
{% endblock %}
<!--<a href="{% url 'goods:products' %}">PRODUCTS</a>--!