{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>
<body>
	<div class="header">
		{% block header %}
			{% for cat in categories %}
				<li><a href="">{{ cat.name }}</a></li>
			{% endfor %}
		{% endblock %}
	</div>
	<div class="sidebar">
		<div class="sideleft">
			{% block sideleft %}
			{% endblock %}
		</div>
		<div class="sidecentr">
			{% block sidecentr %}
			{% endblock %}
		</div>
		<div class="sideright">
			{% block sideright %}
			{% endblock %}
		</div>
	</div>
	<div class="footer">
		{% block footer %}
		{% endblock %}
	</div>
</body>
</html>